html, body { height: 100%; }

body {
	background-image: url('../img/background-g7a66b1f7e_1920.jpg');
	background-position: fixed;
	font-family: Alegreya Sans, sans-serif;
	width: 1200px;
	margin: 0px;
}